@import url("header.css");

body {
  margin: 0px;
}

.Items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;

}

.toyitem {
  width:auto;
  height: 40%;
  object-fit: scale-down;
}


#toyimage1 {
  height: auto;
}

#toyimage2 {
  height: auto;
}




