@import url("header.css");

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.items {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-gap: 10px;
}

.toyimage {
  widht: auto; 
    height: 30%;
}



