/*@import url("header.css");
.navigation {
    font-family: 'Amatic SC', cursive;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C20016;
}

.navigation li {
    float: right;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.navigation li a:hover {
    background-color: #111111;
}*/



article {
    margin: 20px;
}
article img {
    -webkit-transform: scaleX(-1);ß
    transform: scaleX(-1);
}