body {
  margin: 0px;
  font-family: 'Amatic SC', cursive;
  outline: none;

}


/*----------------HEADER--------------*/



header {
  width: 100%;
  height: 150px;
  background: #C20016 url(photos/Transparent_snow.png) no-repeat 100% 100%; 
  background-size: cover;
  box-shadow: 0px -98px 21px -72px white inset; 
}

.br_logo {
  width: 190px;
  height: 190px;
}  
/*---------------REGISTER SIDE_____________________*/
h1 {
  text-align: center;
  z-index: 100;
  margin-top: 0px;
  margin-bottom: 5px;
  color: rgb(83, 83, 83);
  font-size: 3opx;
  font-family: 'Amatic SC', cursive;
}

.signupcontainer input {
  display: flex;
  flex-flow: column;
  z-index: 0;
  padding: 6px;
  padding-left: 15px;
  line-height: 17px;
  border: solid 3px #C20016;
  box-shadow: 0 0 5px #ccc inset;
  outline: none;
  width: 80%;
  transition: all .2s ease-in-out;
  border-radius: 30px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Amatic SC', cursive;
  text-transform: uppercase;
  font-size: 20px;
  color: rgb(83, 83, 83);
}

.klar_button {
  display: block;
  background-color: #C20016;
  color: white;
  border-radius: 30px;
  width: 87%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Amatic SC', cursive;
  text-transform: uppercase;
  font-size: 30px;
  padding: 9px;
  margin-top: 20px;
  margin-bottom: 135px;
}

      /*JEG ER KLAR TAKKE*/

#dynamicCheck {
    display: block;
    float: right;
  border: none;

}
              /*SHOW PASSWORD CHECKBOX*/
.pswcontainer {
  display: flex;
  justify-content: space-around;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.pswcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  right: 30px;
  height: 25px;
  width: 25px;
  border: solid 3px #C20016;
  background-color: white;
}

.pswcontainer input:checked ~ .checkmark {
  background-color: #C20016;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.pswcontainer input:checked ~ .checkmark:after {
  display: block;
}

.pswcontainer .checkmark:after {
  left: 9px;
  top: 2px;
  width: 7px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#Password input[type = "password"],#Password input[type = "text"] {
  display: block;
  margin: 20px auto;
  background: #264936;
  border: 0;
  border-radius: 5px;
  padding: 14px 10px;
  width: 320px;
  outline: none;
  color: #d6d6d6;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

::-webkit-input-placeholder {
  color: #565f79;
}

/*---------------- CATALOG SIDE ---------------*/
/*@import url("header.css");
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');*/


.catalogbody h2 {
    font-family: 'Amatic SC', cursive;
    padding: 20px;
    text-align: center;
    font-size: 65px;
}

.Items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    justify-items: center;
}

.toyitem {
    width: 80%;
    height: 80%;
    padding: 20px;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 30px;
}

.toyimage {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}



/*----------------WISHLIST SIDE---------------*/


.h1wishlist {
  background-color: #C20016;
  color: white;
  font-family: 'Amatic SC', cursive;
  padding-top: 10px;
  padding-bottom: 10px;
}
    
form input {
  border: none;
  background: transparent;
  outline: none;
  text-align: end;
  font-size: 30px;
  font-weight: bold;
}
     
.wishlist_buttons {
  display: flex;
  justify-content: space-around;
  background-color: #C20016;
  padding: 10px;   
}

.wishlist_buttons button{
  background-color: #C20016;
  color: white;
  border: none;
}

.oenske{
  display: flex;
  flex-flow: column;
  z-index: 0;
  padding: 6px;
  margin: 0;
  font: inherit;
  font-size: 22px;
  line-height: 32px;
  border: none;
 /* border: solid 3px #C20016;
  box-shadow: 0 0 5px #ccc inset;
  outline: none;
  width: 80%;
  transition: all .2s ease-in-out;
  border-radius: 3px;*/
  text-align: left;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', sans-serif;
 /* font-family: 'Amatic SC', cursive;
  text-transform: uppercase;
  font-size: 30px;*/
}
.printbutton, .emailbutton{
  width: 30px;
  height: 30px;
  color: white;
}

.edit {
  float: right;
  margin-top: 20px;
  margin-right: 15px;
  margin-bottom: 130px;
}




/*------------ POP UP--------bygget oven på denne kode https://codepen.io/Gthibaud/pen/MqpmXE*/


#popupbody {
  color:black;
  font-family: 'PT Sans Caption', sans-serif;
  background-color: #c20016;
  font-size: 20px;
  margin: 10px;

}

.exit_btn {
  background-color: #C20016;
  color: white;
  border-radius: 50%;
  display: block;
  float: right;
  clear: both;
  width: 30px;
  margin-right: 10px;
  margin-top: 5px;
  text-transform: uppercase;
  font-size: 20px;
  border: 2px solid #FDFE00;
}

.popup_container {
  border: 3px solid #FDFE00;
  border-radius: 5px;
  background: white;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
  
}
.modal {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
 
}
.message {
  font-size:24px;
  margin-bottom: 1.6rem;
  margin-top: 20px;
  text-align: justify;
 /* margin-left: 10px;
  margin-right: 10px;*/
}

.popup_container p {
  text-align: center;
  margin-bottom: 10px;
}
.btn { 
outline: none;
background: #c20016;
color: white;
width: 90%;
padding: 10px;
border: 2px solid #FDFE00;
border-radius: 30px;
margin-top: 10px;
font-size: 20px;
/*box-shadow: 2px 8px 0 #cccca4;*/
}

.btn:hover {
box-shadow: 0.4rem 0.4rem 0 #cccca4;
transform: translate(-0.4rem, -0.4rem);
}

.btn:active {
box-shadow: 0 0 0 black;
transform: translate(0, 0);
}

.options {
display: flex;
flex-direction: column;
width: 100%;
margin-left: auto;
margin-right: auto;
text-align: -webkit-center;
}

/*------------FOOTER------------------*/


/*.loginfooter, .onskelistefooter, .katalogfooter*/ footer {
  width: 100%;
  height: 120px;
  background: #C20016;
  background-size: cover;
  box-shadow: 0px 98px 15px -72px white inset;
  position:fixed;
  bottom:0;
  left:0;
  right:0;
}

.navcontainer {
  display: flex;
  flex-direction: row;   
  justify-content: space-evenly;
  height: 120px;
}


footer form {
  margin-top: 25px;
  width: 100px;
  height: 120px;
  text-align: center;

}

footer button {
  background-color: unset;
  border: unset;
  height: 60px;
  margin: 0 auto;
}

footer form img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  padding: 10px;
}

/*.homediv p {
  color: #410404;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 1px;
  text-transform: uppercase;
}*/

.navcontainer p {
  color: #ffffff;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 1px;
  text-transform: uppercase;
}
   /*hover effects på footer icons https://www.fabriziovanmarciano.com/button-styles/


.footerbuttons{
  
  text-decoration: none;
  display: inline-block;
  transition: all 0.4s ease 0s;
  }
.footerbuttons:hover{
  background: #bddd09;
  border-color: #ffffff !important;
  transition: all 0.4s ease 0s;

  }*/


