body {
  margin: 0px;
  font-family: 'Amatic SC', cursive;
  outline: none;

}


/*----------------HEADER--------------*/



header {
  width: 100%;
  height: 150px;
  background: #C20016 url(photos/Transparent_snow.png) no-repeat 100% 100%; 
  background-size: cover;
  box-shadow: 0px -98px 21px -72px white inset; 
}

.br_logo {
  width: 190px;
  height: 190px;
}  

/*-------------------FORSIDE----------------*/

.velkommencontainer {
  
  margin: 20px;
  margin-bottom: 0px;
  text-align: start;
  height: 350px;
  overflow: hidden;
}
.velkommencontainer h1 {
  font-size: 32px;
}
 .velkommencontainer p {
   font-size: 18px;
   font-family: 'Open Sans', sans-serif;

 }
.br_computer {
  width: 110px;
  margin-left: auto;
  margin-right: auto;
  /*-webkit-transform: scaleX(-1);
  transform: scaleX(-1);*/
}
.imagediv {
  
  float: right;
  margin-top: 18px;
}
.Allerede {
text-align: left;
display: flex;
flex-flow: row;
margin-left: 20px;
height: 100px;
justify-content: space-between;
margin-bottom: 200px;
}
.Allerede p {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}
.Allerede button {
  width: 70px;
  font-size: 11px;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  float: right;
  margin-right: 20px;
  
  border: 2px solid #FDFE00;
}
 /* C2A BUTTON*/
 
 
 .button {
   background: #3498db;
   width: 180px;
   padding: 4px 0;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translateX(-50%) translateY(-50%);
   border-radius: 3px;
  }
   
   .button:after {
     content: "";
     display: block;
     position: absolute;
     width: 100%;
     height: 10%;
     border-radius: 50%;
     background-color: darken(#f1c40f, 20%);
     opacity: 0.4;
     bottom: -30px;
   }
 

/*---------------REGISTER SIDE_____________________*/


.signupcontainer input {
  display: flex;
  flex-flow: column;
  z-index: 0;
  padding: 6px;
  padding-left: 15px;
  line-height: 17px;
  border: solid 3px #C20016;
  box-shadow: 0 0 5px #ccc inset;
  outline: none;
  width: 80%;
  transition: all .2s ease-in-out;
  border-radius: 30px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Amatic SC', cursive;
  text-transform: uppercase;
  font-size: 20px;
  color: rgb(83, 83, 83);
}
.signupcontainer h1 {
  text-align: center;
}
.klar_button {
  display: block;
  background-color: #C20016;
  color: white;
  border-radius: 30px;
  width: 87%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Amatic SC', cursive;
  text-transform: uppercase;
  font-size: 30px;
  padding: 9px;
  margin-top: 10px;
  margin-bottom: 135px;
}

/*PIGE/DRENG*/
.radio {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 10px;
}
.labels {
  width: 300px;
  text-align: center;
  margin-left: 30px;
  height: auto;
  margin-bottom: 30px;
}

.fa, .fas {
    font-size: 25px;
  }

input[name=r] {
  display: none;
}

label[data-group=r] {
  display: inline-block;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 2px;
  padding: 10px;
  background:#C20016;
  line-height: 22px;
  border: 1px solid #001234;
  -webkit-box-shadow: 0 3px #000;
  box-shadow: 0 3px #000;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
}

label[data-group=r]:hover {
  text-shadow: 0 0 3px #fff;
  background: rgb(194, 23, 43);
}

.r1:nth-of-type(1) {
  border-radius: 10px 0 0 10px;
}

.r4:nth-of-type(3) {
  border-radius: 0 10px 10px 0;
}

#r1:checked + .r1:nth-of-type(1) {
  background: #3FC932;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
  -webkit-transform: translate(0, 4px);
  -ms-transform: translate(0, 4px);
  transform: translate(0, 4px);
  cursor: default;
  text-shadow: 0 0 10px #fff;
}

#r2:checked + .r2:nth-of-type(2) {
  background:#3FC932;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
  -webkit-transform: translate(0, 4px);
  -ms-transform: translate(0, 4px);
  transform: translate(0, 4px);
  cursor: default;
  text-shadow: 0 0 10px #fff;
}

#r4:checked + .r4:nth-of-type(3) {
  background: #3FC932;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
  -webkit-transform: translate(0, 4px);
  -ms-transform: translate(0, 4px);
  transform: translate(0, 4px);
  cursor: default;
  text-shadow: 0 0 10px #fff;
}
      /*JEG ER KLAR TAKKE*/

#dynamicCheck {
    display: block;
    float: right;
  border: none;

}
              /*SHOW PASSWORD CHECKBOX*/
              
.checkboxcontainer {
  height: 100px;
}
.pswcontainer {
  display: flex;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 180px;
  height: 35px;
  margin-top: 10px;
  margin-right: 3px;
}

.pswcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: inherit;
  top: 0;
  right: 30px;
  height: 25px;
  width: 25px;
  border: solid 3px #C20016;
  background-color: white;
}

.pswcontainer input:checked ~ .checkmark {
  background-color: #C20016;
}
.pswcontainer p {
  font-size: 18px;
  margin: 5px;
  margin-left: 15px;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.pswcontainer input:checked ~ .checkmark:after {
  display: block;
}

.pswcontainer .checkmark:after {
  left: 9px;
  top: 2px;
  width: 7px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#Password input[type = "password"],#Password input[type = "text"] {
  display: block;
  margin: 20px auto;
  background: #264936;
  border: 0;
  border-radius: 5px;
  padding: 14px 10px;
  width: 320px;
  outline: none;
  color: #d6d6d6;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

::-webkit-input-placeholder {
  color: #565f79;
}
/*---------------- LOGIN SIDE---------------*/
      
.loginbody h1 {
    text-align: center;
    z-index: 100;
    margin-top: 50px;
    color: rgb(83, 83, 83);
    font-size: 44px;
    font-family: 'Amatic SC', cursive;
}
  .loginbody input {
    display: flex;
    flex-flow: column;
    z-index: 0;
    padding: 6px;
    padding-left: 15px;
    line-height: 17px;
    border: solid 3px #C20016;
    box-shadow: 0 0 5px #ccc inset;
    outline: none;
    width: 80%;
    transition: all .2s ease-in-out;
    border-radius: 30px;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Amatic SC', cursive;
    text-transform: uppercase;
    font-size: 30px;
    color: rgb(83, 83, 83);
  }
  .loginbody p {
    text-align: right;
    margin-right: 5px;
    text-decoration: underline;
    margin-bottom: 200px;
    text-decoration: none;
  }
  .logincontainer button {
    display: block;
    background-color: #C20016;
    color: white;
    border-radius: 30px;
    width: 87%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Amatic SC', cursive;
    text-transform: uppercase;
    font-size: 30px;
    padding: 9px;
    margin-top: 40px;
   
  }
  /* TILFØJ TAKKE*/

  #dynamicCheck {
      display: block;
      float: right;
    border: none;

  }

*removebtn {
   display: block;
    background-color: #C20016;
    color: white;
    border-radius: 30px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Amatic SC', cursive;
    text-transform: uppercase;
    font-size: 30px;
    padding: 9px;
    margin-top: 40px;
  
  
/*---------------- CATALOG SIDE ---------------*/
/*@import url("header.css");
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');*/


.catalogbody h2 {
    font-family: 'Amatic SC', cursive;
    padding: 20px;
    text-align: center;
    font-size: 65px;
}

.Items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    justify-items: center;
}

.toyitem {
    width: 80%;
    height: 80%;
    padding: 20px;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 30px;
}

.toyimage {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.onskeknap {
    display: block;
    background-color: #C20016;
    color: white;
    border-radius: 30px;
    width: 87%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Amatic SC', cursive;
    text-transform: uppercase;
    font-size: 30px;
    padding: 9px;
    margin-top: 40px;
}

.placeholder {

    margin-bottom: 140px;
}


/*----------------WISHLIST SIDE---------------*/


.h1wishlist {
 
  color: black;
  font-family: 'Amatic SC', cursive;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 35px;
  text-align: center;
}
    
form input {
  border: none;
  background: transparent;
  outline: none;
  text-align: end;
  font-size: 30px;
  font-weight: bold;
}
     
.wishlist_buttons {
  display: flex;
  justify-content: space-around;
  background-color: #C20016;
  padding: 10px;  
  margin-bottom: 150px; 
}

.wishlist_buttons button{
  background-color: #C20016;
  color: white;
  border: none;
}

.oenske{
  display: flex;
  flex-flow: column;
  z-index: 0;
  padding: 6px;
  margin: 0;
  font: inherit;
  font-size: 22px;
  line-height: 32px;
  border: none;
 /* border: solid 3px #C20016;
  box-shadow: 0 0 5px #ccc inset;
  outline: none;
  width: 80%;
  transition: all .2s ease-in-out;
  border-radius: 3px;*/
  text-align: left;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', sans-serif;
 /* font-family: 'Amatic SC', cursive;
  text-transform: uppercase;
  font-size: 30px;*/
}
.printbutton, .emailbutton{
  width: 30px;
  height: 30px;
  color: white;
}

.edit {
  float: right;
  margin-top: 20px;
  margin-right: 15px;
  margin-bottom: 130px;
}




/*------------ POP UP--------bygget oven på denne kode https://codepen.io/Gthibaud/pen/MqpmXE*/


#popupbody {
  color:black;
font-family: 'Open Sans', sans-serif;
  background-color: #c20016;
  font-size: 20px;
  margin: 10px;

}

.exit_btn {
  background-color: #C20016;
  color: white;
  border-radius: 50%;
  display: block;
  float: right;
  clear: both;
  width: 30px;
  margin-right: 10px;
  margin-top: 5px;
  text-transform: uppercase;
  font-size: 20px;
  border: 2px solid #FDFE00;
}

.popup_container {
  border: 3px solid #FDFE00;
  border-radius: 5px;
  background: white;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
  
}
.modal {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
 
}
.message {
  font-size:24px;
  margin-bottom: 1.6rem;
  margin-top: 20px;
  text-align: justify;
 /* margin-left: 10px;
  margin-right: 10px;*/
}

.popup_container p {
  text-align: center;
  margin-bottom: 10px;
}
.btn { 
outline: none;
background: #c20016;
color: white;
width: 90%;
padding: 10px;
border: 2px solid #FDFE00;
border-radius: 30px;
margin-top: 10px;
font-size: 20px;
text-transform: uppercase;
/*box-shadow: 2px 8px 0 #cccca4;*/
}

.btn:hover {
box-shadow: 0.4rem 0.4rem 0 #cccca4;
transform: translate(-0.4rem, -0.4rem);
}

.btn:active {
box-shadow: 0 0 0 black;
transform: translate(0, 0);
}

.options {
display: flex;
flex-direction: column;
width: 100%;
margin-left: auto;
margin-right: auto;
text-align: -webkit-center;
}

/*------------FOOTER------------------*/


/*.loginfooter, .onskelistefooter, .katalogfooter*/ footer {
  width: 100%;
  height: 120px;
  background: #C20016;
  background-size: cover;
  box-shadow: 0px 98px 15px -72px white inset;
  position:fixed;
  bottom:0;
  left:0;
  right:0;
}

.navcontainer {
  display: flex;
  flex-direction: row;   
  justify-content: space-evenly;
  height: 120px;
}


footer form {
  margin-top: 25px;
  width: 100px;
  height: 120px;
  text-align: center;

}

footer button {
  background-color: unset;
  border: unset;
  height: 60px;
  margin: 0 auto;
}

footer form img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  padding: 10px;
}

 .forsidefooter .homediv p{
  color: #410404;
  
}
.katalogfooter .bookdiv p{
  color: #410404;
}
.onskelistefooter .listdiv p {
  color: #410404;
}
.loginfooter .logindiv p {
  color: #410404;
}
.navcontainer p {
  color: #ffffff;
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 1px;
  text-transform: uppercase;
}
   /*hover effects på footer icons https://www.fabriziovanmarciano.com/button-styles/


.footerbuttons{
  
  text-decoration: none;
  display: inline-block;
  transition: all 0.4s ease 0s;
  }
.footerbuttons:hover{
  background: #bddd09;
  border-color: #ffffff !important;
  transition: all 0.4s ease 0s;

  }*/


