@import url("header.css");

body {
    margin: 0;
}

.h1wishlist {
    color: black;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    padding-top: 10px;
    padding-bottom: 10px;
}
      
form input {
    border: none;
    background: transparent;
    outline: none;
    text-align: end;
    font-size: 30px;
    font-weight: bold;
}
       
.wishlist_buttons {
    display: flex;
    justify-content: space-around;
    background-color: #C20016;
    padding: 10px;   
}

.wishlist_buttons button{
    background-color: #C20016;
    color: white;
    border: none;
}

.oenske{
    display: flex;
    flex-flow: column;
    z-index: 0;
    padding: 6px;
    margin: 0;
    font: inherit;
    font-size: 22px;
    line-height: 32px;
    border: none;
   /* border: solid 3px #C20016;
    box-shadow: 0 0 5px #ccc inset;
    outline: none;
    width: 80%;
    transition: all .2s ease-in-out;
    border-radius: 3px;*/
    text-align: left;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
   /* font-family: 'Amatic SC', cursive;
    text-transform: uppercase;
    font-size: 30px;*/
  }

.printbutton, .emailbutton{
    width: 30px;
    height: 30px;
    color: white;
}

.edit {
    float: right;
    margin-top: 20px;
    margin-right: 15px;
}

